@(flows: Iterable[model.Flow])
@import model.GeoDataResolver
@import model.GeoData
@import com.sanoma.cda.geo.Point
@import java.text.DecimalFormat

@main(title =  "Flows") {
   <table border="1" class="table table-bordered table-striped  table-hover">
      <thead>
         <tr>
            <th colspan="2">Time</th>

            <th colspan="2">Count</th>

            <th rowspan="3">Protocol</th>
            <th colspan="5">Source</th>
            <th colspan="5">Destination</th>
         </tr>
         <tr>
            <th  rowspan="2">Start </th><th  rowspan="2">End</th>
            <th  rowspan="2">Packets</th><th  rowspan="2">Bytes</th>

            <th  rowspan="2">Address</th> <th  rowspan="2">Port</th> <th colspan="3">Geo</th>
            <th  rowspan="2">Address</th> <th  rowspan="2">Port</th> <th colspan="3">Geo</th>

         </tr>
         <tr>
            <th>Country</th>  <th>City</th>  <th>GPS</th>
            <th>Country</th>  <th>City</th>  <th>GPS</th>
         </tr>

      </thead>
      <tbody>
      @for( f <- flows) {
         <tr>
            <td>@(new java.util.Date(f.start_time *1000))</td>
            <td>@(new java.util.Date(f.end_time *1000))</td>
            <td>@f.packet_count</td>
            <td>@f.data_size</td>
            <td>@f.protocol</td>
            <td>@f.ip_src </td><td> @f.port_src</td>
            @iplocation(f.src_geo)
            <td>@f.ip_dst </td><td> @f.port_dst </td>
            @iplocation(f.dst_geo)
         </tr>
         }
   </tbody> </table>

<script>
function PageReady(){

}
</script>
}

@iplocation(oLoc: Option[GeoData]) =  {
   @if(oLoc.isDefined) {
      @defining(oLoc.get.key) { loc =>
         <td>@GeoDataResolver.getCountry(loc.country_id).code</td>
         @optiontd(loc.city)
         @if(loc.point.isDefined) {
            @point(loc.point.get)
         } else {
            <td>?</td>
         }
      }
   } else {
      <td colspan="3">?</td>
   }
}


@point(x: Point) = {
   @defining(new DecimalFormat("#.####")){ df =>
      <td>[@df.format(x.latitude) , @df.format(x.longitude)]</td>
   }
}

@optiontd(item: Option[_]) = {
   <td>@if(item.isDefined){ @item.get } else { ? }</td>
}