@(form: Form[Option[model.Account]], rememberme: Form[Boolean])(implicit flash: Flash)

@main("Welcome to Play") {

    
@helper.form(controllers.routes.Sessions.authenticate) {
<h1>Sign in</h1>
@form.globalError.map { error =>
<p class="error">
@error.message
</p>
}
@flash.get("success").map { message =>
<p class="success">
@message
</p>
}
<p>
<input type="email" name="email" placeholder="Email" id="email" value="@form("email").value">
</p>
<p>
<input type="password" name="password" id="password" placeholder="Password">
</p>
 <p>
<input type="checkbox" name="rememberme" id="rememberme" value="true" @if(rememberme.get) {checked="checked"} /><label for="rememberme">Remember me</label>
</p>
<p>
<button type="submit" id="loginbutton">Login</button>
</p>
}

}
