@(flows: scala.collection.mutable.MutableList[parsers.FlowItem])
@import parsers._
@import com.sanoma.cda.geo.Point
@import java.text.DecimalFormat

@main(title =  "Pcap/NetFlow: ") {
   <table border="1" class="table table-bordered table-striped  table-hover">
      <thead>
         <tr>
          @*  <th colspan="2">Time</th> *@

            <th colspan="2">Count</th>

            <th rowspan="3">Protocol</th>
            <th colspan="6">Source</th>
            <th colspan="6">Destination</th>
            <th rowspan="3">Inp Int</th>
            <th rowspan="3">Outp Int</th>
            <th rowspan="3">Next hop</th>

         </tr>
         <tr>
            @*<th  rowspan="2">Start </th><th  rowspan="2">End</th> *@
            <th  rowspan="2">Packets</th><th  rowspan="2">Bytes</th>

            <th  rowspan="2">Address</th> <th  rowspan="2">Port</th> <th colspan="4">Geo</th>
            <th  rowspan="2">Address</th> <th  rowspan="2">Port</th> <th colspan="4">Geo</th>

         </tr>
         <tr>
            <th>Country</th> <th>Region</th> <th>City</th>  <th>GPS</th>
            <th>Country</th> <th>Region</th> <th>City</th>  <th>GPS</th>
         </tr>

      </thead>
      <tbody>
      @for( fi <- flows) {
         @flowRow(fi)
@*        @(fi match {
//            case nf : NetFlowItemIPV4 => flowRow(nf)
//            case _ => unknownFlow(fi)
//         }) *@

      }
   </tbody> </table>

<script>
function PageReady(){

}
</script>
}

@unknownFlow(fi : FlowItem) ={
   <tr> <td colspan="12"> @fi.toString </td></tr>
}

@flowRow(nf : FlowItem) = {
   <tr>
      <td>@(new java.util.Date(nf.startTime *1000))</td>
      <td>@(new java.util.Date(nf.endTime *1000))</td>
      <td>@nf.packetCount</td>
      <td>@nf.octetCount</td>
      <td>@nf.protocol</td>
      <td>@nf.srcAddr </td><td> @nf.srcPort</td>
      @iplocation(nf.srcAddr)
      <td>@nf.dstAddr </td><td> @nf.dstPort </td>
      @iplocation(nf.dstAddr)
      <td>@nf.outputInterface</td>
      <td>@nf.nextHop</td>
      @*            <td>@nf.samplerID</td>
      <td>@nf.flowClass</td>
      <td>@nf.IPTos</td>*@
   </tr>
}

@iplocation(ip: String) = {
@defining(model.GeoDataResolver.geoIp.getLocation(ip)) { oLoc =>
   @if(oLoc.isDefined) {
      @defining(oLoc.get) { loc =>
         @optiontd(loc.countryCode)
         @optiontd(loc.region)
         @optiontd(loc.city)
         @if(loc.geoPoint.isDefined) {
            @point(loc.geoPoint.get)
         } else {
            <td>?</td>
         }
      }
   } else {
      <td colspan="4">?</td>
   }
}
}


@point(x: Point) = {
   @defining(new DecimalFormat("#.####")){ df =>
      <td>[@df.format(x.latitude) , @df.format(x.longitude)]</td>
   }
}

@optiontd(item: Option[_]) = {
   <td>@if(item.isDefined){ @item.get } else { ? }</td>
}